<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <display-name>TP4</display-name>
    <welcome-file-list>
        <welcome-file>/WEB-INF/public/welcome.jsp</welcome-file>
    </welcome-file-list>
    
   
    
    <!-- Servlet ALL -->
    <servlet>
        <servlet-name>init</servlet-name>
        <jsp-file>/WEB-INF/public/afficheLivre.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AuthorList</servlet-name>
        <jsp-file>/WEB-INF/public/authorlist.jsp</jsp-file>
    </servlet>

    

</web-app>
